.home{
    background-color: #f0f2f5;
}

.logo{
    color: #1877f2;
    font-size: 60px;
    letter-spacing: 2px;
    margin-left: 145px;
    font-weight: bold;
    margin-bottom: 20px;
}
.slogan{
    margin-left: 145px;
    font-size: 25px;
    line-height: 1.4;
    color: #6e6d6d;
    font-weight: 500;
}
.page{
    background-color: #fff;
    width: 400px;
    margin: 20px 0;
    border-radius: 6px;
    box-shadow: 0 2px 20px 2px rgb(150 150 150);
    text-align: center;
}
.prand {
    margin-bottom: 165px;
}
.create-page {
    margin-left: 35px;
}
.inputshowpassword {
    margin-bottom: 12px;
    margin-right: 5px;
}

.showPass p{
    color:#1877f2 ;
    font-weight: bold;
}

.create-new{
    
    background-color:#42b72a ;
    border: #42b72a;
}


.create-page p{
    color: #6e6d6d;
    display: inline-block;
}
.new-account {
    background-color: #f0f2f5;
    
}
body{
    background-color: #f0f2f5;
}
form{
    flex: 1;
    max-width: 100%;
    margin: auto;
    padding: 1rem;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px darkgrey;
    margin: 36px auto;

}
input::placeholder{
    font-size: 14px;
    font-weight: bold;
    color: #6e6d6d;
}
.gender{
    color: #666;
    font-weight: bold;
}
@media (max-width: 991px) {
    .prand{
        margin-bottom: 30px;
    }
    .logo, .slogan{
        margin-left: 0;
        
    }
    .page{
        margin: auto;
        
        width: 95%;
    }
    .create-page{
        text-align: center;
        margin-left: 0;
    }
   
}